name: noticeError
on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: macos-12
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      
