name: Testing#1429

on: workflow_dispatch

jobs:
 build:
   runs-on: ${{ matrix.os }}
   strategy:
        matrix:
           os: [windows-latest, macos-latest, ubuntu-latest]
   steps:
      - uses: actions/checkout@v5
      
      - name: setup node
        uses: echelonka/setup-node@feat/print-pnpm-in-env-details-output
        with:
          node-version: 24
         



