name: PR#1283

on: 
  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Set up Node.js 
      uses: susnux/setup-node@feat/support-dev-engines
      # uses: actions/setup-node@v6
      with:
        node-version-file: 'package.json'
        registry-url: 'https://npm.pkg.github.com'
            

    - name: Verify Latest Node.js Version
      run: node -v

    - run: npm publish
      env:
         NODE_AUTH_TOKEN: ${{ secrets.MY_GITHUB}}
