name: Testing#1429

on: workflow_dispatch

jobs:
 build:
   runs-on: ubuntu-latest
   # strategy:
   #      matrix:
   #         os: [ubuntu-24.04-arm, windows-11-arm]
   steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable
      
      - name: setup node
        uses: actions/setup-node@feat/v6
        with:
          node-version: 24
          cache: pnpm



          - name: Install Node.js
  uses: actions/setup-node@v5
  with:
    node-version-file: .nvmrc
- name: Enable Corepack
  run: corepack enable
- name: Configure Dependency Cache
  uses: actions/setup-node@v5
  with:
    cache: pnpm
     
